body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

/* label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
} */

.cart-item-content {
  margin-left: 20px !important
}

body > div,
body > div > div,
body > div > div > div.login-form {
  height: 100%;
}


.StripeCheckout>span {
  font-size: 15px !important;
  height: 30px !important;
  padding-bottom: 25px;
}




























































#navBar{
  position: sticky;
}

#profileContainer{
  padding: 10em;
}

#homepageBackground{
  background-image: url("/heroPic.jpeg");
  background-size: cover;
  background-attachment:fixed;
  min-height: 700px;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;


}

#homepageTitleBlerb1{
  background-color: white;
  border: solid 1px lightblue;
  border-radius: 10px;
  position: relative;
  top: 40px;

}
#homepageTitleBlerb2{
  background-color: white;
  border: solid 1px lightblue;
  border-radius: 10px;
  position: relative;
  top: 250px;

}

#homepageFooter{
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

#cartMessage{
  width: 200px;
}
