body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.cart-item-content {
  margin-left: 20px !important
}

body > div,
body > div > div,
body > div > div > div.login-form {
  height: 100%;
}


.StripeCheckout>span {
  font-size: 25px !important;
  padding: 10px !important;
  height: 50px !important;
}

#navbar {
  display: flex;
  flex-direction: row;
}

#navbar-title-and-image-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#nav-title{
  width: 410px;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#nav-image{
  width: 75px;
  justify-self: flex-start;
}

.nav-title-text {
  font-family: serif;
  font-style: italic;
  font-size: 60px;
}

.nav-text {
  font-size: 25px;
}

#menu-dropdown {
  width: 170px;
  justify-content: center;
}

#cart-icon {
  width: 125px;
  display: flex;
  justify-content: center;
}
